<!DOCTYPE html>
<html lang="de" ng-app="app">
<head>

    <!-- Title -->
    <title>ng-timeago</title>

    <!-- Scripts -->
    <script src="./scripts/vendor/angular.js"></script>
    <script src="./scripts/app.js"></script>
    <script src="./scripts/filters/timeAgo.js"></script>

    <!-- Style -->
    <style type="text/css">
        input {
            padding: 10px; 
            font-size: 200%; 
            width: 500px;
        }
    </style>

</head>
<body>

    <!-- Analytics -->
    
    <h1>Time</h1>
    <input type="text" ng-model="time" ng-init="time = 'December 19, 2019 18:40:01'">
    
    <h1>Accuracy</h1>
    <input type="number" ng-model="accuracy" ng-init="accuracy = 1">
    
    <h1>{{ time | timeAgo:accuracy }}</h1>


</body>
</html>